files:
  "/etc/httpd/conf.d/cube_wsgi.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      Listen 5000
      <VirtualHost *:5000>
      ServerName localhost

      WSGIScriptAlias / /opt/python/current/app/cube/app.wsgi.py

      <Directory /opt/python/current/app/cube>
      WSGIProcessGroup wsgi
      WSGIApplicationGroup %{GLOBAL}
      Require all granted
      </Directory>


      </VirtualHost>

