files:
  "/etc/httpd/conf.d/cube_wsgi.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      Listen 5000
      <VirtualHost *:5000>
      ServerName localhost

      WSGIScriptAlias / /opt/python/current/app/cube/app.wsgi.py

      <Directory /opt/python/current/app/cube>
      Require all granted
      </Directory>
      WSGIDaemonProcess wsgi_cube processes=1 threads=5 display-name=%{GROUP} python-home=/opt/python/run/venv/ python-path=/opt/python/current/app:/opt/python/run/venv/lib64/python3.6/site-packages:/opt/python/run/venv/lib/python3.6/site-packages user=wsgi group=wsgi home=/opt/python/current/app
      WSGIProcessGroup wsgi_cube


      </VirtualHost>

