files:
  "/etc/httpd/conf.d/cube_wsgi.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      <VirtualHost *:5000>
      ServerName localhost

      WSGIScriptAlias / /opt/python/current/cube/app.wsgi.py

      <Directory /opt/python/current/cube>
      WSGIProcessGroup wsgi
      WSGIApplicationGroup %{GLOBAL}
      Order deny,allow
      Allow from all
      </Directory>


      </VirtualHost>

