files:
  "/etc/cron.d/crowdcur_background_task":
    mode: "000644"
    owner: root
    group: root
    content: |
      0 */12 * * * root source /opt/python/run/venv/bin/activate && source /opt/python/current/env && python /opt/python/current/app/manage.py process_tasks --duration 43150 >/dev/null 2>&1


commands:
  remove_old_cron:
    command: "rm -f /etc/cron.d/*.bak"