<div class="col-md-2">
    <a href="{{ task.id }}">
        <input type="hidden" class="plugin_task_uid" value="{{ task.task_uid }}">
        <div class="card card-member">
            <div class="content">

                <h3 class="title"> {{ task.task_type.task_title }} </h3>
                <div class="description">
                    {{ task.task_type.task_description }}
                    <p>
                        Payment :
                        <span class="label label-info">{{ task.task_type.task_payment }}$</span>
                    </p>
                    <p>
                        Duration :
                        <span class="label label-info">{{ task.task_type.task_time }} seconds</span>
                    </p>
                </div>

            </div>
        </div>
    </a>
</div>