<div class="col-md-2">
    <div class="card card-member">
        <div class="content">
            <div class="thumbnail-container">
                <div class="thumbnail">

                </div>
            </div>
            <div class="description">
                <h3 class="title"> {{ task.task_type.task_description }} </h3>
                <p class="description">Analyse the category of "negative news" of the provided
                    companies based on the given criteria</p>
            </div>
        </div>
    </div>
</div>