{% extends "base_generic.html" %}
{% load static %}
{% load string_extra %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="title-area">
                    <h2>{{ task.task_type.task_title }}</h2>

                    <div class="separator separator-danger">✻</div>
                    <p class="description">{{ task.task_type.task_description }}</p>
                </div>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-xs-12 col-md-8">
                        {% if task.task_type_id == 2 or task.task_type_id == 7 or task.task_type_id == 8%}
                                <div class="image-container">
                                    {% with 'workinterface/task'|concat:task.task_type_id|concat:'/'|concat:t.img as static_image %}
                                        <img class="work-image" src="{% static static_image %}" alt=""/>
                                    {% endwith %}
                                </div>
                        {% elif task.task_type_id == 1 or task.task_type_id == 5 or task.task_type_id == 4 %}
                            <h3>{{ t.tweet }}</h3>
                            {% if task.task_type_id == 1 %}
                                <h4>Directed at : <span class="label label-info">{{ t.product }}</span></h4>
                            {% endif %}
                        {% elif task.task_type_id == 3 %}
                            <h3>{{ t.sentence }}</h3>
                        {% elif task.task_type_id == 6 %}
                            <h3>Hypothesis : </h3>
                            <h4>{{ t.hypothesis }}</h4>
                            <h3>Premise : </h3>
                            <h4>{{ t.premise }}</h4>
                        {% endif %}
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2"></div>

                <div class="col-md-8">
                    <div class="tab-content">
                        <form action="{% url 'sendans' task.id %}" method="post" class="form-horizontal">
                            <input type="hidden" id="plugin_task_uid" name="task_uid" value="{{ task.task_uid }}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="answer">Please choose : </label>
                                <select name="ans" id="answer" class="form-control">
                                    {% for choice in t.opts %}
                                        <option name="choice" id="choice{{ forloop.counter }}"
                                                value="{{ choice }}">{{ choice }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <input type="submit" value="Submit" class="btn btn-fill btn-black"/>
                            <a class="btn btn-primary" href="{% url 'work' %}" role="button">Back</a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </section>
{% endblock %}