{% extends "base_generic.html" %}
{% load static %}
{% block content %}

    <h1>{{ task.task_type.task_description }}</h1>
    {% if task.task_type_id == 1 %}
        {% with "workinterface/task1/"|add:t.img as image_static %}
        <p>{{ t.img }}</p>
        <img src="{% static image_static %}" alt="My image"/>
        {% endwith %}
    {% elif task.task_type_id == 2 %}
        <h3>{{ t.tweet }}</h3>
        <h4>Directed at : {{ t.product }}</h4>
    {% endif %}
    <form action="{% url 'sendans' task.id %}" method="post">
    {% csrf_token %}

        <select name="ans" id="answer">
            {% for choice in t.opts %}
                <option name="choice" id="choice{{ forloop.counter }}" value="{{ choice }}">{{ choice }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit" />
    </form>


<p>Task Payment : {{ task.task_type.task_payment }}</p>
<p>Task Time : {{ task.task_type.task_time }}</p>
<p> {{ now|date }}</p>
{% endblock %}