{% extends "base_generic.html" %}
{% load static %}

{% block content %}
    <div class="section" data-color="blue" style="background-color: #fac564;text-align: center;">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="logo_big">
                            <span class="word1">Cur</span>
                            <span class="word2">Crowd</span>
                        </h1>
                        <hr class="brace">
<p>Have you ever wanted to work in an environment that value their workforce? Have you ever wanted to look classy while you do it? Now you can!</p>

      <p>This platform uses advanced machine learning techniques to give you control over what you are doing.</p>


                        <div class="button-get-started">
                            {% if not request.user.is_authenticated %}
                                <a href="{% url 'signup' %}" class="btn btn-danger btn-fill btn-lg "> Register! </a>
                            {% else %}
                                <a href="{% url 'work' %}" class="btn btn-default btn-fill btn-lg "> Go to
                                    Work! </a>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
