{% extends "base_generic.html" %}
{% load static %}

{% block content %}
    <div class="section" data-color="blue" style="background-color: #fac564;text-align: center;">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="logo_big">
                            <span class="word1">Cur</span>
                            <span class="word2">Crowd</span>
                        </h1>
                        <hr class="brace">
                        <p>Welcome to CrowdCur! CrowdCur is designed by developing principled data analytics algorithms to optimize workers' performance, which is of paramount importance to improve many key processes in a crowdsourcing platform.</p>

                        <p>CrowdCur promotes a worker-centric environment that allows the workers to observe and monitor their own performance over time, select tasks, elicit their explicit preferences, run and obtain interesting statistics on the fellow workers. </p>


                        <div class="button-get-started">
                            {% if not request.user.is_authenticated %}
                                <a href="{% url 'signup' %}" class="btn btn-danger btn-fill btn-lg "> Register! </a>
                            {% else %}
                                <a href="{% url 'work' %}" class="btn btn-default btn-fill btn-lg "> Go to
                                    Work! </a>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <section class="section section-orange section-our-team-freebie">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <h1>
                            How does it work?
                        </h1>
                        <hr class="brace">
                        <p>There are three components in our environment.</p>


                    </div>

                </div>
                <div class="team">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="assets/img/faces/face_1.jpg">
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Worker</h3>
                                                <p class="small-text">Get's the job done</p>
                                                <p class="description"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="assets/img/faces/face_4.jpg">
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Task</h3>
                                                <p class="small-text">Job needs to be done</p>
                                                <p class="description"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="assets/img/faces/face_3.jpg">
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Explicit Feedback</h3>
                                                <p class="small-text">Prefernce of the worker</p>
                                                <p class="description"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

{% endblock %}
